* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* this makes the padding on the inside, all websites do this now apparently */
}

body {
    background-color: #f2f2f2;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

.logos{
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before, .logos:after{
    position: absolute;
    top: 0;
    
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;

}

.logos:before{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    left: 0;
    
    
}

.logos:after{
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    right: 0;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    
    animation: 35s slide infinite linear; /*we're callling the slide animation we made above, this will happen infinitely and won't speed up or slow down */
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}